:root {
  --white-ter: hsl(0, 0%, 96%);
  --grey-lighter: hsl(0, 0%, 86%);
  --danger: hsl(348, 100%, 61%);
  --info-light: hsl(206, 70%, 96%);
}

.min-h-full {
  min-height: 100svh;
}

.h-100 {
height: 100%;  
}
.w-icon {
  width: 1.25rem;
}

.is-sticky {
  position: sticky !important;
  top: 0;
  z-index: 30;
}
.search {
  width: 100%
}

.only-desktop {
  display: flex !important;

  @media (max-width: 768px) {
    display: none !important;
  }
}

.only-mobile {
  display: none;
  position: sticky;
  top: 0;
  z-index: 30;

  @media (max-width: 768px) {
    display: flex;
  }
}

#mobileNavMenu {
  position: absolute;
  left: 0;
  width: 100%;
}

a.has-text-light:hover {
  color: hsl(0, 0%, 21%) !important;
}

#githublink:hover {
  color: hsl(217, 71%, 53%) !important;
  background-color: var(--white-ter) !important;
}

.is-rounded {
  border-radius: 5px;
}
.is-bordered {
  border: 1px solid var(--white-ter);
}
.is-bordered.is-icon {
  border: 1px solid var(--grey-lighter)
}

.is-rounded.navbar-item {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  width: 80%;
}
.is-rounded.is-icon {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}
/* 
.is-bordered.is-icon:hover {
  border-color: var(--danger)
} */

.pageloader.is-light {
  position: relative !important;
  min-height: 100svh;
  background-color: var(--info-light) ;
}
.pageloader.display-none {
  display: none !important;
}